/* **************************************   0px */
@media only screen and (min-width:0px){
    .feature-blog{
        width: 100%;
        padding: 30px 15px;
        font-family: Poppins;
    }
    .feature-blog h2{
        color: var(--Dark-blue, #282938);
        text-align: center;
        width: 100%;
        /* Heading 2 */
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px; /* 133.333% */
        margin: 0 auto;
        margin-bottom: 16px;
        
    }
    .feature-blog section{
        margin-bottom: 32px;
    }
    .feature-blog section span{
        color: var(--Dark-blue);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */
        opacity: 0.87;
    }
    .feature-blog section b{
        color: var(--Dark-blue);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */
    }
    .feature-blog figure{
        width: 100%;
        text-align: center;
    }
    .feature-blog figure img{
        width: 100%;
        object-fit: cover;
        margin-bottom: 48px;
    }
    .feature-blog figure figcaption{
        width: 100%;
        margin: 0 auto;
        color: var(--Dark-blue);
    text-align: center;
    opacity: 0.7;
    /* Paragraph */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    }
    .feature-blog figure figcaption a{
        color: var(--Royal-Blue);
        display: block;
        margin: 16px auto 0;
    /* Paragraph */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    text-decoration: none;
    }
}
/* **************************************   end 0px */
/* **************************************   576px */
@media only screen and (min-width:576px){
    .feature-blog{
        width: 100%;
        padding: 30px 15px;
        font-family: Poppins;
    }
    .feature-blog h2{
        color: var(--Dark-blue, #282938);
        text-align: center;
        width: 100%;
        /* Heading 2 */
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 133.333% */
        margin: 0 auto;
        margin-bottom: 16px;
        
    }
    .feature-blog section{
        margin-bottom: 32px;
    }
    .feature-blog section span{
        color: var(--Dark-blue);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */
        opacity: 0.87;
    }
    .feature-blog section b{
        color: var(--Dark-blue);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */
    }
    .feature-blog figure{
        width: 100%;
        text-align: center;
    }
    .feature-blog figure img{
        width: 100%;
        object-fit: cover;
        margin-bottom: 48px;
    }
    .feature-blog figure figcaption{
        width: 100%;
        margin: 0 auto;
        color: var(--Dark-blue);
    text-align: center;
    opacity: 0.7;
    /* Paragraph */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    }
    .feature-blog figure figcaption a{
        color: var(--Royal-Blue);
        display: block;
        margin: 16px auto 0;
    /* Paragraph */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    text-decoration: none;
    }
}
/* **************************************   end 576px */
/* **************************************   768px */
@media only screen and (min-width:768px){
    .feature-blog{
        width: 100%;
        padding: 50px 50px;
        font-family: Poppins;
    }
    .feature-blog h2{
        color: var(--Dark-blue, #282938);
        text-align: center;
        width: 100%;
        /* Heading 2 */
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px; /* 133.333% */
        margin: 0 auto;
        margin-bottom: 16px;
        
    }
    .feature-blog section{
        margin-bottom: 32px;
    }
    .feature-blog section span{
        color: var(--Dark-blue);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */
        opacity: 0.87;
    }
    .feature-blog section b{
        color: var(--Dark-blue);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */
    }
    .feature-blog figure{
        width: 100%;
        text-align: center;
    }
    .feature-blog figure img{
        width: 100%;
        object-fit: cover;
        margin-bottom: 48px;
    }
    .feature-blog figure figcaption{
        width: 100%;
        margin: 0 auto;
        color: var(--Dark-blue);
    text-align: center;
    opacity: 0.7;
    /* Paragraph */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    }
    .feature-blog figure figcaption a{
        color: var(--Royal-Blue);
        display: block;
        margin: 16px auto 0;
    /* Paragraph */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    text-decoration: none;
    }
}
/* **************************************   end 768px */
/* **************************************   992px */
@media only screen and (min-width:992px){
    .feature-blog{
        width: 100%;
        padding: 128px 100px 0px;
        font-family: Poppins;
    }
    .feature-blog h2{
        color: var(--Dark-blue, #282938);
        text-align: center;
        width: 100%;
        /* Heading 2 */
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px; /* 133.333% */
        margin: 0 auto;
        margin-bottom: 16px;
        
    }
    .feature-blog section{
        margin-bottom: 32px;
    }
    .feature-blog section span{
        color: var(--Dark-blue);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */
        opacity: 0.87;
    }
    .feature-blog section b{
        color: var(--Dark-blue);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */
    }
    .feature-blog figure{
        width: 100%;
        text-align: center;
    }
    .feature-blog figure img{
        width: 100%;
        object-fit: cover;
        margin-bottom: 48px;
    }
    .feature-blog figure figcaption{
        width: 100%;
        margin: 0 auto;
        color: var(--Dark-blue);
    text-align: center;
    opacity: 0.7;
    /* Paragraph */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    }
    .feature-blog figure figcaption a{
        color: var(--Royal-Blue);
        display: block;
        margin: 16px auto 0;
    /* Paragraph */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    text-decoration: none;
    }
}
/* **************************************   end 992px */
/* **************************************   1200px */
@media only screen and (min-width:1200px){
    .feature-blog{
        width: 100%;
        padding: 128px 135px 0px;
        font-family: Poppins;
    }
    .feature-blog h2{
        color: var(--Dark-blue, #282938);
        text-align: center;
        width: 850px;
        /* Heading 2 */
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px; /* 133.333% */
        margin: 0 auto;
        margin-bottom: 16px;
        
    }
    .feature-blog section{
        margin-bottom: 32px;
    }
    .feature-blog section span{
        color: var(--Dark-blue);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */
        opacity: 0.87;
    }
    .feature-blog section b{
        color: var(--Dark-blue);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */
    }
    .feature-blog figure{
        width: 100%;
        text-align: center;
    }
    .feature-blog figure img{
        width: 100%;
        object-fit: cover;
        margin-bottom: 48px;
    }
    .feature-blog figure figcaption{
        width: 850px;
        margin: 0 auto;
        color: var(--Dark-blue);
    text-align: center;
    opacity: 0.7;
    /* Paragraph */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    }
    .feature-blog figure figcaption a{
        color: var(--Royal-Blue);
        display: block;
        margin: 16px auto 0;
    /* Paragraph */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    text-decoration: none;
    }
}
/* **************************************   end 1200px */