/*
********************************************************** 576
*/
@media only screen and (min-width:0px){
  footer{
    width: 100%;
    background-color: var(--Tint-blue);
    margin-top: 35px;
    font-family: Poppins;
  }
  footer .footer-top{
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-flow: column wrap;
  }
  footer .footer-top .ftr-left{
    width: 100%;
    order: 2;
    margin-top: 38px;
  }
  footer .footer-top .ftr-left .ftr-logo{
    margin-bottom: 24px;
    padding-left: 15px;
    
  }
  footer .footer-top .ftr-left p{
    color: var(--White);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    width: 70%;
    margin-bottom: 40px;
    opacity: 0.8;
    padding-left: 15px;
  }
  footer .footer-top .ftr-left .ftr-info{
    width: 100%;
    background-color: var(--Yellow);
    padding: 18px 20px;
  }
  footer .footer-top .ftr-left .ftr-info div{
    padding: 10px 0;
    width: 50%;
    /* background-color: aqua; */
  }
  footer .footer-top .ftr-left .ftr-info div p{
    color: var(--Dark-blue);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    margin-bottom: unset;
    opacity: unset;
    padding-left: 15px;
  }
  footer .footer-top .ftr-left .ftr-info div pre{
    color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8; 
  padding-left: 15px;
  }
  footer .footer-top .ftr-right{
    width: 100%;
    order: 1;
    padding-left: 15px;
  }
  footer .footer-top .ftr-right h2{
    color: #FFF;
    margin-bottom: 14px;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 133.333% */
  }
  footer .footer-top .ftr-right p{
    color: var(--Grey);
    margin-bottom: 28px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    width: 80%;
    opacity: 0.7;
  }
  footer .footer-top .ftr-right section{
      width: 144px;
      height: 16px;
      flex-shrink: 0;
      display: flex;
      column-gap: 26.67px;
  }
    footer .footer-top .ftr-right section svg {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }
  
}
/*
********************************************************** end 576
*/
/*
/*
********************************************************** 576
*/
@media only screen and (min-width:576px){
  footer{
    width: 100%;
    background-color: var(--Tint-blue);
    margin-top: 50px;
    font-family: Poppins;
  }
  footer .footer-top{
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-flow: column wrap;
  }
  footer .footer-top .ftr-left{
    width: 100%;
    order: 2;
    margin-top: 38px;
  }
  footer .footer-top .ftr-left .ftr-logo{
    margin-bottom: 24px;
    
  }
  footer .footer-top .ftr-left p{
    color: var(--White);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    width: 70%;
    margin-bottom: 40px;
    opacity: 0.8;
  }
  footer .footer-top .ftr-left .ftr-info{
    width: 100%;
    background-color: var(--Yellow);
    display: flex;
    padding: 18px 20px;
  }
  footer .footer-top .ftr-left .ftr-info div{
    width: 50%;
    /* background-color: aqua; */
  }
  footer .footer-top .ftr-left .ftr-info div p{
    color: var(--Dark-blue);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    margin-bottom: unset;
    opacity: unset;
  }
  footer .footer-top .ftr-left .ftr-info div pre{
    color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8; 
  }
  footer .footer-top .ftr-right{
    width: 100%;
    order: 1;
  }
  footer .footer-top .ftr-right h2{
    color: #FFF;
    margin-bottom: 14px;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 133.333% */
  }
  footer .footer-top .ftr-right p{
    color: var(--Grey);
    margin-bottom: 28px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    width: 80%;
    opacity: 0.7;
  }
  footer .footer-top .ftr-right section{
      width: 144px;
      height: 16px;
      flex-shrink: 0;
      display: flex;
      column-gap: 26.67px;
  }
    footer .footer-top .ftr-right section svg {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }
  
}
/*
********************************************************** end 576
*/
/*
********************************************************** 768
*/
@media only screen and (min-width:768px){
  footer{
    width: 100%;
    background-color: var(--Tint-blue);
    margin-top: 100px;
    font-family: Poppins;
  }
  footer .footer-top{
    width: 100%;
    display: flex;
    padding-top: 104px;
    flex-flow: row wrap;
    
  }
  footer .footer-top .ftr-left{
    width: 50%;
    order: 1;
    margin-top: unset;
  }
  footer .footer-top .ftr-left .ftr-logo{
    margin-bottom: 24px;
    
  }
  footer .footer-top .ftr-left p{
    color: var(--White);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    width: 70%;
    margin-bottom: 86px;
    opacity: 0.8;
  }
  footer .footer-top .ftr-left .ftr-info{
    width: 100%;
    background-color: var(--Yellow);
    display: flex;
    padding: 18px 0px;
  }
  footer .footer-top .ftr-left .ftr-info div{
    width: 50%;
    /* background-color: aqua; */
  }
  footer .footer-top .ftr-left .ftr-info div p{
    color: var(--Dark-blue);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    margin-bottom: unset;
    opacity: unset;
  }
  footer .footer-top .ftr-left .ftr-info div pre{
    color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8; 
  }
  footer .footer-top .ftr-right{
    width: 50%;
    order: 2;
  }
  footer .footer-top .ftr-right h2{
    color: #FFF;
    margin-bottom: 14px;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 133.333% */
  }
  footer .footer-top .ftr-right p{
    color: var(--Grey);
    margin-bottom: 28px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    width: 80%;
    opacity: 0.7;
  }
  footer .footer-top .ftr-right section{
      width: 144px;
      height: 16px;
      flex-shrink: 0;
      display: flex;
      column-gap: 26.67px;
  }
    footer .footer-top .ftr-right section svg {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }
  
}
/*
********************************************************** end 768
*/
/*
********************************************************** 992
*/
@media only screen and (min-width:992px){
  footer{
    width: 100%;
    background-color: var(--Tint-blue);
    margin-top: 128px;
    font-family: Poppins;
  }
  footer .footer-top{
    width: 100%;
    display: flex;
    padding: 0 100px;
    padding-top: 104px;
    
  }
  footer .footer-top .ftr-left{
    width: 50%;
  }
  footer .footer-top .ftr-left .ftr-logo{
    margin-bottom: 24px;
    
  }
  footer .footer-top .ftr-left p{
    color: var(--White);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    width: 70%;
    margin-bottom: 86px;
    opacity: 0.8;
  }
  footer .footer-top .ftr-left .ftr-info{
    width: 100%;
    background-color: var(--Yellow);
    display: flex;
    padding: 18px 16px;
  }
  footer .footer-top .ftr-left .ftr-info div{
    width: 50%;
    /* background-color: aqua; */
  }
  footer .footer-top .ftr-left .ftr-info div p{
    color: var(--Dark-blue);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    margin-bottom: unset;
    opacity: unset;
    padding-left: unset;
  }
  footer .footer-top .ftr-left .ftr-info div pre{
    color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8; 
  padding-left: unset;
  }
  footer .footer-top .ftr-right{
    width: 50%;
  }
  footer .footer-top .ftr-right h2{
    color: #FFF;
    margin-bottom: 14px;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 133.333% */
  }
  footer .footer-top .ftr-right p{
    color: var(--Grey);
    margin-bottom: 28px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    width: 80%;
    opacity: 0.7;
  }
  footer .footer-top .ftr-right section{
      width: 144px;
      height: 16px;
      flex-shrink: 0;
      display: flex;
      column-gap: 26.67px;
  }
    footer .footer-top .ftr-right section svg {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }
  
}
/*
********************************************************** end 992
*/
/*
********************************************************** 1200
*/
@media only screen and (min-width:1200px){
  footer{
    width: 100%;
    background-color: var(--Tint-blue);
    margin-top: 128px;
    font-family: Poppins;
  }
  footer .footer-top{
    width: 100%;
    display: flex;
    padding: 0 100px;
    padding-top: 104px;
    
  }
  footer .footer-top .ftr-left{
    width: 50%;
  }
  footer .footer-top .ftr-left .ftr-logo{
    margin-bottom: 24px;
    
  }
  footer .footer-top .ftr-left p{
    color: var(--White);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    width: 70%;
    margin-bottom: 86px;
    opacity: 0.8;
  }
  footer .footer-top .ftr-left .ftr-info{
    width: 85%;
    background-color: var(--Yellow);
    display: flex;
    padding: 18px 16px;
  }
  footer .footer-top .ftr-left .ftr-info div{
    width: 50%;
    /* background-color: aqua; */
  }
  footer .footer-top .ftr-left .ftr-info div p{
    color: var(--Dark-blue);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    margin-bottom: unset;
    opacity: unset;
  }
  footer .footer-top .ftr-left .ftr-info div pre{
    color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8; 
  }
  footer .footer-top .ftr-right{
    width: 50%;
  }
  footer .footer-top .ftr-right h2{
    color: #FFF;
    margin-bottom: 14px;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 133.333% */
  }
  footer .footer-top .ftr-right p{
    color: var(--Grey);
    margin-bottom: 28px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    width: 80%;
    opacity: 0.7;
  }
  footer .footer-top .ftr-right section{
      width: 144px;
      height: 16px;
      flex-shrink: 0;
      display: flex;
      column-gap: 26.67px;
  }
    footer .footer-top .ftr-right section svg {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }
  
}
/*
********************************************************** end 1200
*/
/*
********************************************************** 1400
*/
@media only screen and (min-width:1400px){
  footer{
    width: 100%;
    background-color: var(--Tint-blue);
    margin-top: 128px;
    font-family: Poppins;
  }
  footer .footer-top{
    width: 100%;
    display: flex;
    padding: 0 120px;
    padding-top: 104px;
    
  }
  footer .footer-top .ftr-left{
    width: 50%;
  }
  footer .footer-top .ftr-left .ftr-logo{
    margin-bottom: 24px;
    
  }
  footer .footer-top .ftr-left p{
    color: var(--White);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    width: 65%;
    margin-bottom: 86px;
    opacity: 0.8;
  }
  footer .footer-top .ftr-left .ftr-info{
    width: 80%;
    background-color: var(--Yellow);
    display: flex;
    padding: 18px 16px;
  }
  footer .footer-top .ftr-left .ftr-info div{
    width: 50%;
    /* background-color: aqua; */
  }
  footer .footer-top .ftr-left .ftr-info div p{
    color: var(--Dark-blue);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    margin-bottom: unset;
    opacity: unset;
  }
  footer .footer-top .ftr-left .ftr-info div pre{
    color: var(--Dark-blue);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8; 
  }
  footer .footer-top .ftr-right{
    width: 50%;
  }
  footer .footer-top .ftr-right h2{
    color: #FFF;
    margin-bottom: 14px;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 133.333% */
  }
  footer .footer-top .ftr-right p{
    color: var(--Grey);
    margin-bottom: 28px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    width: 55%;
    opacity: 0.7;
  }
  footer .footer-top .ftr-right section{
      width: 144px;
      height: 16px;
      flex-shrink: 0;
      display: flex;
      column-gap: 26.67px;
  }
    footer .footer-top .ftr-right section svg {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }
  
}
/*
********************************************************** end 1400
*/