/* *************************************   0 */
@media only screen and (min-width:0px){
    form{
        width: 95%;
        margin: 0 auto;
        border-radius: 12px;
        background: var(--Grey, #F4F6FC);
        padding: 40px 25px;
        font-family: Poppins;
    }
    form .inline-form{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        row-gap: 32px;
        margin-bottom: 24px;
    }
    form .inline-form .inline-input{
        display: flex;
        flex-flow: column wrap;
        flex-grow: 1;
    }
    form .inline-form .inline-input label{
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
        margin-bottom: 6px;
    }
    form .inline-form .inline-input input{
        padding: 18px 32px;
        border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: #000;
    
    /* Paragraph */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    
    }
    form .text-area{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
    }
    form .text-area label{
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
        margin-bottom: 6px;
    }
    form .text-area textarea{
        padding: 18px 32px;
        border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: #000;
    height: 112px;
    /* Paragraph */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    resize: none;
    margin-bottom: 32px;
    }
    form a{
        display: flex;
    width: 254px;
    height: 64px;
    padding: 15px 51px;
    justify-content: center;
    align-items: center;
    border-radius: 41px;
    background: var(--Dark-blue);
    color: var(--Grey);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
    text-decoration: none;
    }
}
/* *************************************   end 0 */
/* *************************************   576 */
@media only screen and (min-width:576px){
    form{
        width: 90%;
        margin: 0 auto;
        border-radius: 12px;
        background: var(--Grey, #F4F6FC);
        padding: 55px 35px;
        font-family: Poppins;
    }
    form .inline-form{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        row-gap: 32px;
        margin-bottom: 24px;
    }
    form .inline-form .inline-input{
        display: flex;
        flex-flow: column wrap;
        flex-grow: 1;
    }
    form .inline-form .inline-input label{
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
        margin-bottom: 6px;
    }
    form .inline-form .inline-input input{
        padding: 18px 32px;
        border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: #000;
    
    /* Paragraph */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    
    }
    form .text-area{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
    }
    form .text-area label{
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
        margin-bottom: 6px;
    }
    form .text-area textarea{
        padding: 18px 32px;
        border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: #000;
    height: 112px;
    /* Paragraph */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    resize: none;
    margin-bottom: 32px;
    }
    form a{
        display: flex;
    width: 254px;
    height: 64px;
    padding: 15px 51px;
    justify-content: center;
    align-items: center;
    border-radius: 41px;
    background: var(--Dark-blue);
    color: var(--Grey);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
    text-decoration: none;
    }
}
/* *************************************   end 576 */
/* *************************************   798 */
@media only screen and (min-width:798px){
    form{
        width: 90%;
        margin: 0 auto;
        border-radius: 12px;
        background: var(--Grey, #F4F6FC);
        padding: 55px 75px;
        font-family: Poppins;
    }
    form .inline-form{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        column-gap: 32px;
        margin-bottom: 24px;
    }
    form .inline-form .inline-input{
        display: flex;
        flex-flow: column wrap;
        flex-grow: 1;
    }
    form .inline-form .inline-input label{
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
        margin-bottom: 6px;
    }
    form .inline-form .inline-input input{
        padding: 18px 32px;
        border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: #000;
    
    /* Paragraph */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    
    }
    form .text-area{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
    }
    form .text-area label{
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
        margin-bottom: 6px;
    }
    form .text-area textarea{
        padding: 18px 32px;
        border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: #000;
    height: 112px;
    /* Paragraph */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    resize: none;
    margin-bottom: 32px;
    }
    form a{
        display: flex;
    width: 254px;
    height: 64px;
    padding: 15px 51px;
    justify-content: center;
    align-items: center;
    border-radius: 41px;
    background: var(--Dark-blue);
    color: var(--Grey);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
    text-decoration: none;
    }
}
/* *************************************   end 798 */
/* *************************************   1200 */
@media only screen and (min-width:1200px){
    form{
        width: 1061px;
        margin: 0 auto;
        border-radius: 12px;
        background: var(--Grey, #F4F6FC);
        padding: 55px 75px;
        font-family: Poppins;
    }
    form .inline-form{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        column-gap: 32px;
        margin-bottom: 24px;
    }
    form .inline-form .inline-input{
        display: flex;
        flex-flow: column wrap;
        flex-grow: 1;
    }
    form .inline-form .inline-input label{
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
        margin-bottom: 6px;
    }
    form .inline-form .inline-input input{
        padding: 18px 32px;
        border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: #000;
    
    /* Paragraph */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    }
    form .text-area{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
    }
    form .text-area label{
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
        margin-bottom: 6px;
    }
    form .text-area textarea{
        padding: 18px 32px;
        border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: #000;
    height: 112px;
    /* Paragraph */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    resize: none;
    margin-bottom: 32px;
    }
    form a{
        display: flex;
    width: 254px;
    height: 64px;
    padding: 15px 51px;
    justify-content: center;
    align-items: center;
    border-radius: 41px;
    background: var(--Dark-blue);
    color: var(--Grey);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
    text-decoration: none;
    }
}
/* *************************************   end 1200 */